@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *, ::before, ::after {
    @apply transition-colors duration-100 ease-in-out;
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #1C1D2E;
}

html.dark {
  --bg-color: linear-gradient(
    135deg,
    #18181B 0%,
    #0E0E11 50%,
    #141417 100%
  );

  --text-color: #FAFAFA;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}